*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

html {
  scroll-behaviour: smooth;
}

body {
  background: rgba(0,0,0,0.1);
}
